<h1>Session#new</h1>
<p>Find me in app/views/session/new.html.erb</p>
<%= form_for :session, url: login_path do |f| %>
  <%= f.text_field :username %>
  <%= f.password_field :password %>
  <%= f.submit 'ログイン' %>
<% end %>
