<h3 class='mt-2'>ホーム</h3>
<div class='container border rounded bg-light p-3 mb-2'>
  <div class='d-flex w-100 justify-content-between'>
    <span class='mb-0'>残高</span>
    <span class='h2 mb-0'><%= number_to_currency(@current_user.total_amount) %></span>
  </div>
</div>

<%= display_order_detail(@orders) %>
