// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-secondary {
  background-color: #ff0099 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ff74be;
  background-color: #ffffff;
}

a.nav-link, a.nav-link:hover {
  color: #ffffff;
  background-color: #ff74be;
}

.btn-secondary {
  background-color: #ff0099 !important;
  border-color: #ff0099 !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
